<div class="background-image"></div>

<header class="header">
  <div class="header-container">
    <h1 class="header-title">Registro</h1>
  </div>
</header>

<div class="background-image"></div>

<form (ngSubmit)="registrarAlumno()" class="form-container">

  <!-- Matrícula y Foto -->
 <div class="form-row">
    <div class="form-group">
      <label for="matricula">Matrícula:</label>
      <input [(ngModel)]="alumno.matricula" name="matricula" class="form-control">
    </div>

    <!-- Foto -->
    <div class="form-row">

      <label for="fotoUrl">URL de la Foto</label>
      <input type="text" id="fotoUrl" (input)="onInputChange($event)"  placeholder="Ingresa la URL de la foto" />
    </div>
    
    <!-- Mostrar la imagen cuando la URL esté disponible -->
    <div *ngIf="alumno.foto">
      <img [src]="alumno.foto" alt="Foto del Alumno" width="200" height="200" />
    </div>
    </div>
  <!-- Nombre y Apellidos -->
  <div class="form-row">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input [(ngModel)]="alumno.nombre" name="nombre" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="apellido_paterno">Apellido Paterno:</label>
      <input [(ngModel)]="alumno.apellido_paterno" name="apellido_paterno" (ngModelChange)="generateMatricula()" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="apellido_materno">Apellido Materno:</label>
      <input [(ngModel)]="alumno.apellido_materno" name="apellido_materno" class="form-control">
    </div>
  </div>

  <!-- Fecha de Nacimiento y Sexo -->
  <div class="form-row">
    <div class="form-group">
      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
      <input [(ngModel)]="alumno.fecha_nacimiento" name="fecha_nacimiento" type="date" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="sexo">Sexo:</label>
      <select [(ngModel)]="alumno.sexo" name="sexo" class="form-control" required>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>
  </div>

<!-- Promedio y Especialidad de Bachillerato -->
<div class="form-row">
  <div class="form-group">
    <label for="promedio_bachillerato">Promedio Bachillerato:</label>
    <input [(ngModel)]="alumno.promedio_bachillerato" name="promedio_bachillerato" type="number" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="especialidad_bachillerato">Especialidad Bachillerato:</label>
    <input [(ngModel)]="alumno.especialidad_bachillerato" name="especialidad_bachillerato" class="form-control" required>
  </div>


<!-- RFC y Contraseña -->
  <div class="form-group">
    <label for="rfc">RFC:</label>
    <input [(ngModel)]="alumno.rfc" name="rfc" class="form-control" required>
  </div>
</div>

  <div class="form-group">
    <label for="contrasenia">Contraseña:</label>
    <input [(ngModel)]="alumno.contrasenia" name="contrasenia" type="password" class="form-control" required>
  </div>


  <!-- Teléfonos y Correos del Alumno -->
  <div class="form-row">
    <div class="form-group">
      <label for="telefonos">Teléfonos:</label>
      <div *ngFor="let phone of alumno.telefonos; let i = index; trackBy: trackByIndex">
        <input [(ngModel)]="alumno.telefonos[i]" [name]="'telefonos' + i" class="form-control">
        <button *ngIf="alumno.telefonos.length > 1" type="button" (click)="removePhone(i)" class="remove-btn">Eliminar</button>
      </div>
      <button type="button" (click)="addPhone()" class="add-btn" [disabled]="alumno.telefonos.length >= 15">Agregar Teléfono</button>
    </div>

    <div class="form-group">
      <label for="correos">Correos:</label>
      <div *ngFor="let email of alumno.correos; let i = index; trackBy: trackByIndex">

        <input [(ngModel)]="alumno.correos[i]" [name]="'correos' + i" class="form-control">
        <button *ngIf="alumno.correos.length > 1" type="button" (click)="removeEmail(i)" class="remove-btn">Eliminar</button>
      </div>
      <button type="button" (click)="addEmail()" class="add-btn" [disabled]="alumno.correos.length >= 15">Agregar Correo</button>
    </div>
  </div>

  <fieldset>
    <legend>Domicilio</legend>
    <div class="form-row">
      <div class="form-group">
        <label for="calle">Calle:</label>
        <input [(ngModel)]="alumno.domicilio.calle" name="calle" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="numero_interior">Número Interior:</label>
        <input [(ngModel)]="alumno.domicilio.numero_interior" name="numero_interior" class="form-control">
      </div>
      <div class="form-group">
        <label for="numero_exterior">Número Exterior:</label>
        <input [(ngModel)]="alumno.domicilio.numero_exterior" name="numero_exterior" class="form-control" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="colonia">Colonia:</label>
        <input [(ngModel)]="alumno.domicilio.colonia" name="colonia" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="codigo_postal">Código Postal:</label>
        <input [(ngModel)]="alumno.domicilio.codigo_postal" name="codigo_postal" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="ciudad">Ciudad:</label>
        <input [(ngModel)]="alumno.domicilio.ciudad" name="ciudad" class="form-control" required>
      </div>
    </div>
  </fieldset>

  <!-- Datos del Tutor -->
  <fieldset>
    <legend>Datos del Tutor</legend>
    <div class="form-row">
      <div class="form-group">
        <label for="tutorName">Nombre del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].nombre" name="tutorName" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tutorPaternalSurname">Apellido Paterno del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].apellido_paterno" name="tutorPaternalSurname" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tutorMaternalSurname">Apellido Materno del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].apellido_materno" name="tutorMaternalSurname" class="form-control" required>
      </div>
    </div>

    <!-- Teléfonos y Correos del Tutor -->
    <div class="form-row">
      <div class="form-group">
        <label for="tutorPhones">Teléfonos del Tutor:</label>
          <div *ngFor="let phone of alumno.tutores[0].telefonos; let i = index; trackBy: trackByIndex">
          <input [(ngModel)]="alumno.tutores[0].telefonos[i]" name="tutorPhones{{i}}" class="form-control">
          <button *ngIf="alumno.tutores[0].telefonos.length > 1" type="button" (click)="removeTutorPhone(i)" class="remove-btn">Eliminar</button>
        </div>
        <button type="button" (click)="addTutorPhone()" class="add-btn" [disabled]="alumno.tutores[0].telefonos.length >= 15">Agregar Teléfono</button>
      </div>

      <div class="form-group">
        <label for="tutorEmails">Correos del Tutor:</label>
        <div *ngFor="let email of alumno.tutores[0].correos; let i = index; trackBy: trackByIndex">
          <input [(ngModel)]="alumno.tutores[0].correos[i]" name="tutorEmails{{i}}" class="form-control">
          <button *ngIf="alumno.tutores[0].correos.length > 1" type="button" (click)="removeTutorEmail(i)" class="remove-btn">Eliminar</button>
        </div>
        <button type="button" (click)="addTutorEmail()" class="add-btn" [disabled]="alumno.tutores[0].correos.length >= 15">Agregar Correo</button>
      </div>
    </div>

    <!-- Domicilio del Tutor -->
    <div class="form-row">
      <div class="form-group">
        <label for="tutorStreet">Calle del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].domicilio.calle" name="tutorStreet" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tutorNumberExterior">Número Exterior del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].domicilio.numero_exterior" name="tutorNumberExterior" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tutorNumberInterior">Número Interior del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].domicilio.numero_interior" name="tutorNumberInterior" class="form-control" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="tutorColonia">Colonia del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].domicilio.colonia" name="tutorColonia" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tutorCity">Ciudad del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].domicilio.ciudad" name="tutorCity" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="tutorCodigoPostal">Código Postal del Tutor:</label>
        <input [(ngModel)]="alumno.tutores[0].domicilio.codigo_postal" name="tutorCodigoPostal" class="form-control" required>
      </div>
    </div>
  </fieldset>

  <!-- Área y Especialidad -->
  <div class="form-row">
    <div class="form-group">
      <label for="area">Área:</label>
      <select [(ngModel)]="alumno.carrera.nombre" name="area" class="form-control" (change)="onCareerChange($event)">
        <option *ngFor="let area of areas" [value]="area">{{area}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="especialidad">Especialidad:</label>
      <select [(ngModel)]="alumno.carrera.especialidad" name="especialidad" class="form-control">
        <option *ngFor="let specialty of specialties" [value]="specialty">{{specialty}}</option>
      </select>
    </div>

  <!-- Certificado de Bachillerato -->
    <div class="form-group">
      <label for="highSchoolCertificate">¿Entregó Certificado de Bachillerato?</label>
      <select [(ngModel)]="alumno.certificado_bachillerato" name="highSchoolCertificate" class="form-control">
        <option value="1">Sí</option>
        <option value="0">No</option>
      </select>
    </div>
  </div>

  <!-- Mensaje de éxito -->
<div *ngIf="registroExitoso" class="alert alert-success">
  ¡El registro se completó con éxito!
</div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">Registrar Estudiante</button>
</form>