<div class="background-image"></div>

<header class="header">
    <div class="header-container">
      <h1 class="header-title">Baja Temporal de Estudiantes</h1>
    </div>
  </header>
  
  <div class="form-container">
    <!-- Filtros de búsqueda -->
    <div class="form-row">
      <div class="form-group">
        <label for="searchTerm">Buscar por Matrícula o Nombre</label>
        <input id="searchTerm" type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Ingresa matrícula o nombre" />
      </div>
  
      <div class="form-group">
        <button type="button" (click)="onSearch()" class="btn btn-primary search-btn"><mat-icon>search</mat-icon> Buscar</button>
      </div>
    </div>
  
    <!-- Lista de estudiantes dados de baja temporal -->
    <div *ngIf="filteredStudents.length > 0" class="student-list">
      <div *ngFor="let student of filteredStudents" class="student-item">
        <div class="student-info">
          <!-- Usar la URL de la foto proporcionada en el objeto estudiante -->
          <img *ngIf="student.foto" [src]="student.foto" alt="Foto del estudiante" class="user-icon" />
          <img *ngIf="!student.foto" src="https://storage.needpix.com/rsynced_images/user-icon-2098873_1280.png" alt="User Icon" class="user-icon" />
          <div class="student-details">
            <h3>{{ student.nombre }} {{ student.apellido_paterno }} {{ student.apellido_materno }}</h3>
            <p><strong>Matrícula:</strong> {{ student.matricula }}</p>
            <p><strong>Carrera:</strong> {{ student.carrera?.nombre || 'Sin asignar' }}</p>
          </div>
        </div>
        <div class="student-actions">
          <!-- Botón Restaurar (solo si el rol es 2 - Baja Temporal) -->
          <button *ngIf="student.rol === 2" (click)="onRestore(student)" class="btn btn-success"><mat-icon>restore</mat-icon> Restaurar</button>
          
          <!-- Botón Baja Definitiva (solo si el rol es 2 - Baja Temporal) -->
          <button *ngIf="student.rol === 2" (click)="onDelete(student)" class="btn btn-danger"><mat-icon>person_off</mat-icon> Baja Definitiva</button>
        </div>
      </div>
    </div>
  
    <!-- Mensaje de No Resultados -->
    <div *ngIf="filteredStudents.length === 0" class="no-results">
      <p>No se encontraron estudiantes.</p>
    </div>
  </div>
  
  <!-- Modal de confirmación -->
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmar Baja Definitiva</h4>
      </div>
      <div class="modal-body">
        <p>{{ modalMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          <mat-icon>close</mat-icon> Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">
          <mat-icon>check_circle</mat-icon> Confirmar
        </button>
      </div>
    </div>
  </div>
  