<div class="background-image"></div>

<header class="header">
    <div class="header-container">
      <h1 class="header-title">Buscar Estudiantes</h1>
    </div>
  </header>
  
  <div class="form-container">
    <!-- Filtros de búsqueda -->
    <div class="form-row">
      <div class="form-group">
        <label for="searchTerm">Buscar por Matrícula o Nombre</label>
        <input id="searchTerm" type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Ingresa matrícula o nombre" />
      </div>
  
      <div class="form-group">
        <button type="button" (click)="buscarAlumnos()" class="btn btn-primary search-btn">
          <mat-icon>search</mat-icon> Buscar
        </button>
      </div>
    </div>
  
    <!-- Lista de estudiantes -->
    <div *ngIf="filteredStudents.length > 0" class="student-list">
      <div *ngFor="let student of filteredStudents" class="student-item">
        <div class="student-info">
          <!-- Usar la URL de la foto proporcionada en el objeto estudiante -->
          <img *ngIf="student.foto" [src]="student.foto" alt="Foto del estudiante" class="user-icon" />
          <img *ngIf="!student.foto" src="https://storage.needpix.com/rsynced_images/user-icon-2098873_1280.png" alt="User Icon" class="user-icon" />
          <div class="student-details">
            <h3>{{ student.nombre }} {{ student.apellido_paterno }} {{ student.apellido_materno }}</h3>
            <p><strong>Matrícula:</strong> {{ student.matricula }}</p>
            <p><strong>Carrera:</strong> {{ student.carrera?.nombre || 'Sin asignar' }}</p>
          </div>
        
        
            <!-- Botón para agregar actividad, alineado a la derecha -->
            <div class="add-activity-btn">
              <button class="btn btn-success" (click)="abrirModalAgregarActividad(student)">
                <mat-icon>add</mat-icon> Agregar Actividad
              </button>
            </div>
          </div>
        </div>
      </div>
      
  
    <!-- Mensaje de No Resultados -->
    <div *ngIf="filteredStudents.length === 0" class="no-results">
      <p>No se encontraron estudiantes.</p>
    </div>
  </div>
  
 <!-- Modal de agregar actividad -->
<div *ngIf="mostrarModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Agregar Actividad para {{ selectedStudent?.nombre }} {{ selectedStudent?.apellido_paterno }}</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="actualizarActividad()">
          <div class="form-group">
            <label for="nombreActividad">Nombre de la Actividad:</label>
            <select [(ngModel)]="nombre_actividad" name="nombreActividad" class="form-control" required>
              <option *ngFor="let actividad of actividadesDisponibles" [value]="actividad.nombre">
                {{ actividad.nombre }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="fechaInicio">Fecha de Inicio:</label>
            <input type="date" [(ngModel)]="fecha_inicio_actividad" name="fechaInicio" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="fechaFin">Fecha de Fin:</label>
            <input type="date" [(ngModel)]="fecha_fin_actividad" name="fechaFin" class="form-control" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
        <button type="submit" class="btn btn-success" (click)="actualizarActividad()">Confirmar</button>
      </div>
    </div>
  </div>
  
  