<div class="background-image"></div>


<div class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Bienvenido a la Plataforma en Servicios Escolares</mat-card-title>
      <mat-card-subtitle>Es hora de inspeccionar y tener todo en orden.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Tienes que inspeccionar y acomodar a los alumnos, ya sabes cómo. ¡Suerte!</p>
    </mat-card-content>
  </mat-card>


  <div class="info-section">
    <div class="info-card">
      <mat-icon>person_add</mat-icon>
      <h3>Registro de Alumnos</h3>
      <p>registra y clasifica los alumnos nuevos que desdean estudiar.</p>
    </div>
    <div class="info-card">
      <mat-icon>search</mat-icon>
      <h3>Busca Rápida</h3>
      <p>Buscalos y modifica su información si es que hay cambios.</p>
    </div>
    <div class="info-card">
      <mat-icon>person_remove</mat-icon>
      <h3>Dalos de Baja</h3>
      <p>Revisa quien ya no es estudiante y dalos de baja o eliminalos.</p>
    </div>
  </div>
</div>
